# ===============================
# Node / NPM
# ===============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
node_modules/
auth/node_modules/


# ===============================
# Environment files (Secrets)
# ===============================
.env
.env.local
.env.development
.env.production

# ===============================
# Build output
# ===============================
dist/
build/
out/

# ===============================
# Vite
# ===============================
.vite/

# ===============================
# React
# ===============================
.cache/

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Editor / IDE
# ===============================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# ===============================
# TypeScript
# ===============================
*.tsbuildinfo

# ===============================
# Coverage / Test
# ===============================
coverage/

# ===============================
# Temporary files
# ===============================
tmp/
temp/
